/* CSS HEX */
--willow-green: #8ce857ff;
--bright-snow: #f8fafcff;
--prussian-blue: #0f172aff;
--alice-blue: #e2e8f0ff;

/* CSS HSL */
--willow-green: hsla(98, 76%, 63%, 1);
--bright-snow: hsla(210, 40%, 98%, 1);
--prussian-blue: hsla(222, 47%, 11%, 1);
--alice-blue: hsla(214, 32%, 91%, 1);

/* SCSS HEX */
$willow-green: #8ce857ff;
$bright-snow: #f8fafcff;
$prussian-blue: #0f172aff;
$alice-blue: #e2e8f0ff;

/* SCSS HSL */
$willow-green: hsla(98, 76%, 63%, 1);
$bright-snow: hsla(210, 40%, 98%, 1);
$prussian-blue: hsla(222, 47%, 11%, 1);
$alice-blue: hsla(214, 32%, 91%, 1);

/* SCSS RGB */
$willow-green: rgba(140, 232, 87, 1);
$bright-snow: rgba(248, 250, 252, 1);
$prussian-blue: rgba(15, 23, 42, 1);
$alice-blue: rgba(226, 232, 240, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #8ce857ff, #f8fafcff, #0f172aff, #e2e8f0ff);
$gradient-right: linear-gradient(90deg, #8ce857ff, #f8fafcff, #0f172aff, #e2e8f0ff);
$gradient-bottom: linear-gradient(180deg, #8ce857ff, #f8fafcff, #0f172aff, #e2e8f0ff);
$gradient-left: linear-gradient(270deg, #8ce857ff, #f8fafcff, #0f172aff, #e2e8f0ff);
$gradient-top-right: linear-gradient(45deg, #8ce857ff, #f8fafcff, #0f172aff, #e2e8f0ff);
$gradient-bottom-right: linear-gradient(135deg, #8ce857ff, #f8fafcff, #0f172aff, #e2e8f0ff);
$gradient-top-left: linear-gradient(225deg, #8ce857ff, #f8fafcff, #0f172aff, #e2e8f0ff);
$gradient-bottom-left: linear-gradient(315deg, #8ce857ff, #f8fafcff, #0f172aff, #e2e8f0ff);
$gradient-radial: radial-gradient(#8ce857ff, #f8fafcff, #0f172aff, #e2e8f0ff);