/* CSS HEX */
--willow-green: #72cb3eff;
--bright-snow: #f8fafcff;
--prussian-blue: #0f172aff;
--alice-blue: #e2e8f0ff;
--money-out: #60a5faff;

/* CSS HSL */
--willow-green: hsla(97, 56%, 52%, 1);
--bright-snow: hsla(210, 40%, 98%, 1);
--prussian-blue: hsla(222, 47%, 11%, 1);
--alice-blue: hsla(214, 32%, 91%, 1);
--money-out: hsla(213, 94%, 68%, 1);

/* SCSS HEX */
$willow-green: #72cb3eff;
$bright-snow: #f8fafcff;
$prussian-blue: #0f172aff;
$alice-blue: #e2e8f0ff;
$money-out: #60a5faff;

/* SCSS HSL */
$willow-green: hsla(97, 56%, 52%, 1);
$bright-snow: hsla(210, 40%, 98%, 1);
$prussian-blue: hsla(222, 47%, 11%, 1);
$alice-blue: hsla(214, 32%, 91%, 1);
$money-out: hsla(213, 94%, 68%, 1);

/* SCSS RGB */
$willow-green: rgba(114, 203, 62, 1);
$bright-snow: rgba(248, 250, 252, 1);
$prussian-blue: rgba(15, 23, 42, 1);
$alice-blue: rgba(226, 232, 240, 1);
$money-out: rgba(96, 165, 250, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #72cb3eff, #f8fafcff, #0f172aff, #e2e8f0ff);
$gradient-right: linear-gradient(90deg, #72cb3eff, #f8fafcff, #0f172aff, #e2e8f0ff);
$gradient-bottom: linear-gradient(180deg, #72cb3eff, #f8fafcff, #0f172aff, #e2e8f0ff);
$gradient-left: linear-gradient(270deg, #72cb3eff, #f8fafcff, #0f172aff, #e2e8f0ff);
$gradient-top-right: linear-gradient(45deg, #72cb3eff, #f8fafcff, #0f172aff, #e2e8f0ff);
$gradient-bottom-right: linear-gradient(135deg, #72cb3eff, #f8fafcff, #0f172aff, #e2e8f0ff);
$gradient-top-left: linear-gradient(225deg, #72cb3eff, #f8fafcff, #0f172aff, #e2e8f0ff);
$gradient-bottom-left: linear-gradient(315deg, #72cb3eff, #f8fafcff, #0f172aff, #e2e8f0ff);
$gradient-radial: radial-gradient(#72cb3eff, #f8fafcff, #0f172aff, #e2e8f0ff);